Mailboxer.xcodeproj/xcuserdata
Mailboxer.xcodeproj/project.xcworkspace/xcuserdata/ssp.xcuserdatad/UserInterfaceState.xcuserstate
Mailboxer.xcodeproj/project.xcworkspace/xcuserdata/ssp.xcuserdatad/WorkspaceSettings.xcsettings